<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <vue-advanced-chat height="calc(100vh - 60px)" [currentUserId]="currentUserId" [rooms]="rooms" [roomId]="1"
    [roomsLoaded]="true" [messages]="messages" [messagesLoaded]="messagesLoaded"
    [showFiles]="false" [showEmojis]="true" [textFormatting]="true" [showReactionEmojis]="true" [showFooter]="true"
    (fetch-messages)="fetchMessages($event.detail[0])" (send-message)="sendMessage($event.detail[0])">
  </vue-advanced-chat>
</ion-content>